nav {
  background-color: gray;
  padding: 15px;
}
nav a {
  color: white;
}
ul {
  list-style: none;
}
li {
  display: inline;
  padding: 10px;
  color: white;
}

img {
  width: 1030px;
  height: 400px;
}
