
body {
  background-color: #cab5a3;
}

nav {
  background-color: gray;
  padding: 15px;
}
nav a {
  color: white;
}
ul {
  list-style: none;
}
li {
  display: inline;
  padding: 10px;
  color: white;
}

.intro {
  text-align: center;
}
p {
  text-align: justify;
}
.bod {
  padding: 0 30px;
}



img {
  width: 300px;
  height: 300px;
}
footer{
  background-color: gray;
  padding: 7px 30px;
}
footer p{
  padding:0 30px;
}
